#khung {
  border: 1px solid black;
  display: table;
  width: 100%;
}

#menu {
  display: table-cell;
  width: 150px;
  background: #cccccc;
  padding: 5px;
}

#trangchu {
  background: #777777;
  color: white;
  padding: 3px;
}

#noidung {
  display: table-cell;
  padding: 10px;
}
