body {
  display: table;
  width: 100%;
}

#vung01 {
  display: table-cell;
  width: 150px;
  background: #cccccc;
  vertical-align: top;
}

#vung01 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#vung01 ul li {
  padding: 8px 5px;
}

#vung01 ul li:first-child {
  background: #777777;
  color: white;
}

#vung02 {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}
